.carousel{
    width: 60%;
    height: 300px;
    background-color: black;
}

.carouselInner{
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    
}