.quote {
  height: 100%;
  width: 100%;
  overflow: hidden;

}
.parallax-container {
  height: 100%;
  background-color: white;
  justify-content: center !important;
  align-content: center !important;
  text-align: center !important;
  justify-items: center !important;
}

.parallax-content {
 
  color: black;
 

  h3 {
    font-weight: bold;
    text-align: center;

    // min-width: 300px;
  }

  .btn {
    padding: 10px 40px;
    margin: 10px 0px;
    text-transform: uppercase;
    
  }
}
