@import "./bootstrap-color.scss";
// -------- Set of colors --------
$color-light: #fef502;
$color-default: #1a1e2a;
$color-hover: #d39e00;

// -------- Color for highlighting --------
// Codes for Firefox:
*::-moz-selection {
  background-color: $color-default;
  color: #fff;
}

// Codes for other Browsers
*::selection {
  background-color: #1a1e2a;
  color: #fff;
}

// -------- Header component --------
.header .navbar {
  .nav-active {
    color:  #fff !important;
    
  }

  a:hover {
    color: #fff !important;
   
  }
}

// -------- Hero component --------
.hero {
  .h-separator {
    border-color: $color-light;
  }
}

// -------- Service component --------
.service-card:hover {
  h4 {
    color: $color-default;
  }
}

// -------- Buttons ---------
.btn-secondary {
  background-color:  #1a1e2a;
  border-color: white;
}

.btn-secondary:hover {
  background-color:  #1a1e2a !important;
  border-color:  #1a1e2a;
}

.btn-outline-secondary {
  border-color: $color-default;
}

.btn-outline-secondary:hover {
  background-color: white;
  border-color:  #1a1e2a;
}

// -------- About --------

.about {
  ul li:hover {
    color: $color-hover;
  }

  .btn-secondary {
    background-color: $color-default;
    border-color:  #fff;
    color: #fff;
  }

  .btn-secondary:hover {
    background-color: #fff;
    border-color: $color-default;
    color: $color-default !important;
  }
}

// -------- Parallax --------
.theme-wrapper {
  background: white;
}

// -------- Quote --------
.quote {
  .btn-secondary {
    background-color: $color-light;
    border-color: white;
    color: white;
  }

  .btn-secondary:hover {
    background-color: #fff;
    border-color: #fff;
  }
}

// -------- Project --------
.gallery-cat {
  .badge-light:hover {
    background-color: $warning;
  }
  .badge-secondary {
    background-color: $warning;
    color: #000;
  }
}

// -------- News --------
.news-thumbnail-hover {
  background: rgba($color-default, 0.5);
}

.news-title:hover,
.news-date p:hover {
  color: $warning;
}

.news-date {
  svg {
    stroke: $warning;
  }
}

// -------- Footer --------
footer {
  .opening,
  .footer-contact {
    .list .svg svg {
      fill: white !important;
    }
  }

  .footer-social {
    a {
      border-color: $warning !important;
    }

    a:hover {
    
      .fill-svg {
        fill: white;
      }
    
    }
  }
}

// -------- PageHeader --------
.page-header {
  h2 {
    text-decoration: none !important;
  }
}

// -------- AboutCard --------
.about-card {
  border-color:  #1a1e2a !important;

  .about-card-title {
    color:  #1a1e2a !important;
  }
}

// -------- ContactPage --------
.contact-info {
  .fill-color {
    fill: $color-hover !important;
  }
  .stroke-color {
    stroke: $color-hover !important;
  }

  a:hover {
    .fill-svg {
      fill: $color-hover !important;
    }

    .stroke-svg {
      stroke: $color-hover !important;
    }
  }
}

// -------- List --------
.list {
  .svg {
    svg {
      fill: $color-hover !important;
    }
  }
}

// -------- PhotoViewer --------
.photo-viewer {
  img:hover {
    background-color: $color-light !important;
  }
  .img-selected {
    background-color: $warning !important;
  }
}

// -------- CareersPage --------
.careers-page {
  .table tbody tr td:first-child {
    color: Black;
  }
}
